.courses {
  padding: 3rem;
  text-align: center;

  &__header {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: $darkBlue;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 5rem;

    @include respond(phone) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-row-gap: 1rem;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    color: $darkBlue;
  }

  &__link:hover,
  &__link:active {
    text-decoration: none;
  }

  &__card {
    background-color: $lightBlue;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba($black, 0.5);
    padding: 3rem;
    height: 45rem;
    text-align: left;
    transition: all 0.5s;

    @include respond(phone) {
      height: 50rem;
    }

    &:hover {
      animation: wobble-skew 1s ease-in-out;
      color: white;
    }
  }

  &__bodyTitle {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
  }

  &__subList {
    list-style: disc;
    font-size: 1.6rem;
    text-transform: capitalize;

    li:not(:last-child) {
      margin-bottom: 0.1rem;
    }
  }
}
