/* basic reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is. Standard browser font-size is usually 16px. So if we want 1 rem to equal 10px, we will have to figure out the percentage in order to achieve that.
  font-size: 62.5%; //1rem = desired_font-size/current_font-size = 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9px/16px * 100 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(xl-desk) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  font-family: 'Changa', sans-serif;
  line-height: 1.2;
  padding: 1rem;
  box-sizing: border-box;

  @media only screen and (max-width: 850px) and (orientation: landscape) {
    padding: 0;
  }

  @include respond(phone) {
    padding: 0;
  }
}

.app {
  font-weight: 300; //400 500 700 900
  color: $veryDarkBlue;
}

::selection {
  background-color: $darkBlue;
  color: $white;
}
