.questions {
  background-image: linear-gradient(rgba($lightBlue, 0.5), rgba($mediumBlue, 0.5));
  clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0% 15%);
  padding-top: 15rem;
  padding-bottom: 15rem;
  text-align: center;

  @include respond(phone) {
    clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0% 5%);
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  &__container {
    width: 80%;
    margin: 0 auto;

    @include respond(phone) {
      width: 100%;
      padding: 0.5rem;
    }
  }

  &__header {
    margin-bottom: 3rem;
    color: white;

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    font-size: 2rem;
    box-shadow: 0 0.5rem 1rem rgba($black, 0.5);
    overflow: hidden;

    :first-child {
      border-bottom: 1px solid $lightBlue;
    }

    :last-child {
      border-top: 1px solid $lightBlue;
    }
  }

  &__listItem {
    padding: 0.75rem 1.25rem;

    &:hover {
      background-color: $mediumBlue;
      cursor: pointer;
    }
  }
}

.answers {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: rgba($lightGrey, 1);
  font-size: 2rem;
  box-shadow: 0 0.5rem 1rem rgba($black, 0.5);

  &__item {
  }
}
